##### Core scientific packages
jupyter
matplotlib
numpy
pandas
scipy

##### Machine Learning packages
scikit-learn
xgboost

##### TensorFlow-related packages
tensorflow
tensorboard

##### Image manipulation
Pillow
graphviz
pyglet
scikit-image

##### Additional utilities
# Efficient jobs (caching, parallelism, persistence)
joblib

# Nice utility to diff Jupyter Notebooks.
nbdime

# May be useful with Pandas
numexpr

# Optional
nltk
urlextract

